body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

/* p,
h1,
h2,
h3,
h4 {
  margin: 0;
} */

ul {
  margin: 0;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  cursor: pointer;
}

.header {
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: #ffffff;
  margin: auto;
  display: flex;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2196f3;
}

.all-logo {
  margin-right: 93px;
}

.menu {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button:hover {
  color: #2196f3;
}

button: {
  cursor: pointer;
}

.logo-link {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-duo-list {
  color: #000;
}

.blue {
  color: #2196f3;
}

.black {
  color: #000;
}

.header-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.header-tell {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail {
  font-family: Roboto;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 290px;
  margin-right: 50px;
}

.header-list {
  display: flex;
  align-items: center;
}

.button-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  margin-top: 100px;
  margin-left: 537px;
  margin-right: 535px;
  margin-top: 100px;
  margin-bottom: 56px;
}

.button-basic {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 73px;
  left: 512px;
  top: 174px;
  border-radius: 4px;
  border: #2196f3;
  background-color: #2196f3;
  margin-right: 8px;
}

.button-depend {
  color: #212121;
  background-repeat: ;
  height: 38px;
  width: 125px;
  left: 593px;
  top: 174px;
  border-radius: 4px;
  border: #f5f4fa;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-right: 8px;
}

.project-main {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  border: #757575;
}

.project-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.text-description {
  color: #757575;
  font-family: Roboto;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
}

.logo-link-footer {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-decoration: none;
}

.logo-duo-footer-list {
  color: #ffffff;
  text-decoration: none;
}

.adress-footer {
  font-style: normal;
  font-size: 14 px;
  font-family: Roboto;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  font-family: Roboto;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-tell {
  font-family: Roboto;
  color: #757575;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
