body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--darkest-gray);
  font-style: normal;
}

ul {
  margin: 0;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container-header {
  display: flex;
}

:root {
  --blue: #2196f3;
  --border-color: #eeeeee;
  --lighest-gray: #ececec;
  --light-gray: #f5f5f5;
  --gray: #757575;
  --dark-gray: #2f303a;
  --darkest-gray: #212121;
  --white: white;
}

.header {
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: #ffffff;
  margin: auto;
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.blue {
  color: var(--blue);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--blue);
}

.logo-link {
  color: var(--blue);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.all-logo {
  margin-right: 93px;
}

.logo-duo-list {
  color: var(--darkest-gray);
}

.black {
  color: var(--darkest-gray);
}

.foto {
  height: 294px;
  width: 370px;
  margin-right: 30px;
  display: block;
}

.foto-one {
  border-radius: 4px;
  background-color: var(--light-gray);
  display: block;
}

.img-team {
  height: 260px;
  width: 270px;
  display: block;
}

.main-section {
  background-color: var(--dark-gray);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.header-mail {
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 290px;
  margin-right: 50px;
}

.main-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  color: var(--light-gray);
  background-color: var(--blue);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 118px;
}

.benefits-main {
  display: flex;
  gap: 30px;
}

.box-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.business {
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
}

.about {
  display: flex;
}

.top-title {
  left: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-gray);
  width: 696px;
  border-radius: nullpx;
  margin: auto;
}

.team {
  background-color: var(--light-gray);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-foto {
  display: flex;
  gap: 30px;
}

.medium-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--darkest-gray);
  text-transform: uppercase;
}

.after-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--gray);
  max-width: 270px;
}

.business-upper-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--darkest-gray);
}

.hero-top-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--darkest-gray);
  border-radius: 4px;
}

.hero-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--darkest-gray);
  margin: 0;
  margin-bottom: 10px;
}

.hero-about {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--gray);
  margin: 0;
}

.text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background: var(--dark-gray);
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
}

.logo-link-footer {
  color: var(--blue);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.logo-duo-footer-list {
  color: var(--light-gray);
  text-decoration: none;
}

.adress-footer {
  font-size: 14 px;
  color: var(--light-gray);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-mail {
  font-size: 14px;
  color: var(--gray);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-tell {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.mail-footer {
  margin-top: 9px;
  margin-bottom: 9px;
}
