body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

ul {
  margin: 0;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}



.header {
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: #ffffff;
  margin: auto;
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2196f3;
}

.logo-link {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.all-logo {
  margin-right: 93px;
}

.logo-duo-list {
  color: #000;
}

.blue {
  color: #2196f3;
}

.black {
  color: #000;
}

.foto {
  height: 294px;
  width: 370px;
  margin-right: 30px;
  display: block;
}

.foto-one {
  border-radius: 4px;
  background-color: #ffffff;
  display: block;
}

.img-team {
  height: 260px;
  width: 270px;
  display: block;
}

.main-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
}

.header-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.header-tell {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail {
  font-family: Roboto;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 290px;
  margin-right: 50px;
}

.main-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 160px;
  border-radius: 4px;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 118px;
  padding-left: 215px;
  padding-right: 215px;
  display: inline-block;
}

.benefits-main {
  display: flex;
  padding-right: 215px;
  justify-content: space-between;
  gap: 30px;
}

.business {
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
}

.about {
  display: flex;
}

.top-title {
  left: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  border-radius: nullpx;
  margin: auto;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-foto {
  display: flex;
  gap: 30px;
}

.medium-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  text-transform: uppercase;
}

.after-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  max-width: 270px;
}

.business-upper-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.hero-top-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border-radius: 4px;
}

.hero-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.hero-about {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin: 0;
}

.text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
}

.logo-link-footer {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-decoration: none;
}

.logo-duo-footer-list {
  color: #ffffff;
  text-decoration: none;
}

.adress-footer {
  font-style: normal;
  font-size: 14 px;
  font-family: Roboto;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  font-family: Roboto;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.footer-tell {
  font-family: Roboto;
  color: #757575;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
