.about_images_item {
    margin-left: 30px;
    position: relative;


 &:first-of-type {
            margin-left: 0;
        }
}



.about_images_text {
    background-color: rgba(47, 48, 58, 0.8);
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
    color: rgba(255, 255, 255, 1);
}