.benefits {
    padding-top: 94px;
    padding-bottom: 118px;
}

.benefits-main {
    display: flex;
    gap: 30px;
}

.benefits-item_icon-container {
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-main__item-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--darkest-gray);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-main__after-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--gray);
    max-width: 270px;
}