.clients__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.clients__item:not(:last-of-type) {
    margin-right: 30px;
}

.clients__item {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    fill: var(--gray);
}

.clients__link {
    display: block;
    border-radius: 4px;
    border: 1px var(--gray-2) solid;
    height: 92px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(175, 177, 184, 1);
    transition-property: var(--border-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients__icon {
    fill: rgba(175, 177, 184, 1);
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients__link:hover {
    border: 1px var(--blue) solid;
}

.clients__link:hover .clients__icon {
    fill: var(--blue);
}

.clients__link:focus {
    border: 1px var(--blue) solid;
}

.clients__link:focus .clients__icon {
    fill: var(--blue);
}

.clients__list {
    color: rgba(117, 117, 117, 1);
}