.logo-link {
    color: var(--blue);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    display: flex;
    cursor: pointer;
}

.logo__text {
    color: black;
}

.logo__text_blue {
    color: var(--blue);
}

.logo__text_white {
    color: floralwhite;
}

.footer .logo {
    margin-bottom: 20px;
}