.navigation {
    display: flex;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__item:hover .navigation__link {
    color: var(--blue);
}

.navigation__item:focus .navigation__link {
    color: var(--blue);
}

.navigation__item_active .navigation__link {
    color: var(--blue);
    position: relative;
    padding: 33px 0;
}

.navigation__item_active .navigation__link::after {
    content: "";
    width: calc(100% + 4px);
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigation__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
}