.social_networks {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

&_footer .social_networks_link {
        background-color: var(--social-networks-bg);
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

&_footer .social_networks_icon {
        fill: var(--light-gray-2);
    }

&_links_item {
        margin-right: 10px;
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    
&_icon {
        fill: var(--gray-2);
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

}


.social_networks_link {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

&:hover {
        background-color: var(--blue);
    }

&:hover .social_networks_icon {
        fill: var(--light-gray-2);
    }

&:focus {
        background-color: var(--blue);
    }

&:focus .social_networks_icon {
        fill: var(--light-gray-2);
    }

}



