.project-main {
    color: var(--darkest-gray);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    border: var(--gray);
}

.project-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 94px;
}